<% @users.each do |user| %>
  <div>

    <div>
    <%= link_to(user.name, user) %>
    </div>

    <div>
    <%= user.email %>
    </div>

    <div>
    <%= link_to('Delete', user, method: :delete) %>
    </div>

  </div>

  <hr>
<% end %>
